.payment-form{
    margin-top: 20px;
    padding: 20px;
    width: 450px;
    margin-left: auto;
    margin-right: auto;
    border: 1px black solid;
}
button{
    margin-top: 10px;
}

label{
    margin-top: 10px;
}

.payment-id{
    word-wrap: break-word;
    margin-top: 20px;
}